.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 600;
  font-style: normal;
  color: #6d6d6d !important;
}
.Publish-btn {
  background-color: #8e51bb !important;
}

.Btn-Preview {
  background-color: #f3f3f3 !important;
  border: none;
}
